body {
    padding: 0;
    margin: 0;
}

nav.fixed {
    position: fixed;
    font-size: 40px;
    width: 33%;

    .middayHeader, .customOuter {
        &.default, &.primary {
            color: red;
        }
        &.white {
            color: white;
        }
        &.black {
            color: black;
        }
        &.blue {
            color: blue;
        }
    }

    &#custom-nav {
        margin-left: 66%;
        .img {
            float: right;
            width: 40px;
            height: 40px;
        }
    }

    &#options-nav {
        margin-left: 33%;
    }

}

section {
    height: 100vh;
    &:nth-child(2) {
        background: blue;
    }
    &:nth-child(3) {
        background: red;
    }
    &:nth-child(4) {
        background: green;
    }
}

footer {
    height: 94vh;
}
